---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout2.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PostsPreview from "../components/PostsPreview.astro";
import MinistriesPreview from "../components/MinistriesPreview.astro";
// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Homeslide from "../components/homeslide.astro";
import OutreachPreview from "../components/OutreachPreview.astro";
import LeadersPreview from "../components/LeadersPreview.astro";
import { Image } from 'astro:assets';
import logo from '../../public/sfbc-logo1-white.png';
// Content Fetching: List four most recent posts projects
const posts = (await getCollection("posts"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 3);

// Content Fetching: List four most recent ministries projects
const ministries = (await getCollection("ministries"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Content Fetching: List four most recent outreach projects
const outreach = (await getCollection("outreach"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 2);

//leadership
const leadership = (await getCollection("leadership"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 15);

const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Posts', href: '/posts/' },
	{ label: 'Ministries', href: '/ministries/'},
	{ label: 'Outreach', href: '/outreach/'},
	{ label: 'About', href: '/about/' },
];

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<header class="header">
			<a href="/" ><Image src={logo} alt="Sibagat Fundamental Baptist Church" width={200} /></a>
			<div class="menu-btn">
			  <!-- <img class="menu-btn_img" src="assets/imagens/menu-alt.svg" alt="menu button"> -->
			</div>
			<div class="navegation">

			  <div class="navegation-items">
				{
				textLinks.map(({ label, href }) => (
							<a
							href={href}
						>
							{label}
						</a>
									  ))
									}
			  </div>

			</div>
		</header>

		<Homeslide />
		<div id="main" class="wrapper stack gap-5 lg:gap-5">

		</div>

		<main  class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Recent Posts</h3>
					<p>
						Take a look below at some of our latest posts.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							posts.map((posts) => (
								<li>
									<PostsPreview posts={posts} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/posts/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Our Ministries</h3>
					<p>
						Take a look below at some of my featured work for
						clients from the past few years.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							ministries.map((ministries) => (
								<li>
									<MinistriesPreview
										ministries={ministries}
									/>
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/ministries/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Our Outreach</h3>
					<p>
						Take a look below at some of my featured work for
						clients from the past few years.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							outreach.map((outreach) => (
								<li>
									<OutreachPreview outreach={outreach} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/outreach/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				
				<header class="section-header stack gap-2 lg:gap-4">
				
					<h3>Pastors & Workers</h3>
					<p>
						The work of our ministries is not an easy task. To
						fulfill these missions, God has sent His workers to
						guide us, train us all and find more lost souls. as it
						is said in (Ephesians 4:11-16), they are one of the
						reasons why we know Who and What God is. Our Pastors are
						not just there on their own. They are the gift from our
						Holy God to our local church. That is why we are so
						thankful to have our Pastors/Workers in our Church.
					</p>
				</header>
				<div class="gallery" style="justify-content: center; display:flex;">
					<center>
				
					<Grid variant="ric3">
						{
							leadership.map((leadership) => (
							
								<li>
									
									<LeadersPreview leadership={leadership} />
								
								</li>
							
							))
						}
					</Grid>
				</center>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: "";
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url("/assets/backgrounds/noise.png") top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
